<article class="dependencies">
  <header class="row package">
    <h1 class="sixcol">
      <a href="/package/<%= package.name %>"><%= package.name %></a> / <%= package.version %>
    </h1>

    <div class="sixcol last">
      <% if (!stats.outofdate) { %>
      <p class="status uptodate">
        dependencies <span>up to date</span>
      </p>
      <% } else { %>
      <p class="status outofdate">
        dependencies <span>out of date</span>
      </p>
      <% } %>
      </p>
    </div>
    <p class="twelvecol">
      <%= package.description %>
    </p>
  </header>

  <% if (shrinkwrap.length) { %>
  <ul class="row summary">
    <li class="threecol dependencies">
      <strong><%= Object.keys(package.dependencies || {}).length %></strong>
      Dependencies
    </li>
    <li class="threecol inherited">
      <strong><%= shrinkwrap.length - Object.keys(package.dependencies || {}).length %></strong>
      Inherited dependencies
    </li>
    <li class="threecol uptodate boxed">
      <strong><%= stats.uptodate %></strong>
      up to date
    </li>
    <li class="threecol outofdate boxed last">
      <strong><%= stats.outofdate %></strong>
      out of date
    </li>
  </ul>

  <section class="row">
    <table class="details">
      <thead>
        <tr>
          <th class="name">Dependency</th>
          <th class="licenses">License</th>
          <th class="version">Required</th>
          <th class="version">Latest</th>
          <th class="version">Installed</th>
          <th class="status">status</th>
        </tr>
      </thead>
      <tbody>
      <% shrinkwrap.forEach(function (module) { %>
      <tr class="<%= module.uptodate ? 'uptodate' : 'outofdate' %>">
        <td class="name">
          <a href="/package/<%= module.name %>"><%= module.name %></a>
        </td>
        <td class="licenses">
          <% if (module.licenses) { %>
            <%-
              !(module.licenses || []).length ? 'Unknown' : module.licenses.map(function (license) {
                var info = licenses(license);
                return info && info.url
                  ? '<a href="'+ info.url +'" title="'+ info.full +'" target="_blank">'+ license +'</a>'
                  : license;
              }).join(', ')
            %>
          <% } else { %>
          <strong>Unknown</strong>
          <% } %>
        </td>
        <td class="version"><%= module.required %></td>
        <td class="version"><%= module.latest %></td>
        <td class="version"><%= module.version %></td>
        <td class="status">
          <% if (!module.uptodate) { %>
          Dependency is out of date
          <% } else if (!module.pinned) { %>
          Greedy version range
          <% } else { %>
          Up to date
          <% } %>
        </td>
      </tr>
      <% }); %>
      </tbody>
    </table>
  </section>
  <% } else { %>
  <section class="row">
    <h2>No dependencies</h2>
  </section>
  <% } %>
</article>
